.container {
  padding-top: 200px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 15px;
  border-radius: 50px;
  background-color: black;
}

#display {   
  text-align: right;
  color: white;
  
}